
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.closed {
  width: 400px;
  overflow: auto;
  height: 0px;
  -webkit-transition: height, 0.5s linear;
  -moz-transition: height, 0.5s linear;
  -ms-transition: height, 0.5s linear;
  -o-transition: height, 0.5s linear;
  transition: height, 0.5s linear;
}

.closed.open {
  height: 950px;
  overflow: hidden;
  -webkit-transition: height, 0.5s linear;
  -moz-transition: height, 0.5s linear;
  -ms-transition: height, 0.5s linear;
  -o-transition: height, 0.5s linear;
  transition: height, 0.5s linear;
}
